In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
dataset = '/Users/nelson/Desktop/BI_streamlit/data/caractéristiques.csv'

df = pd.read_csv(dataset, delimiter=';')

In [8]:
df

,idBank,Dernière mise à jour,Correction,Zone géographique,Série arrêtée,Nature,Puissance,Activité,Indicateur,Unité,Périodicité
0,001737244,30/03/2018 12:00,Corrigé des variations saisonnières,01 - Ain,oui,Valeur absolue,0.0,A17-GZ - Commerce ; réparation d'automobiles e...,Emploi salarié en fin de trimestre,individus,Trimestrielle
1,001737245,30/03/2018 12:00,Corrigé des variations saisonnières,02 - Aisne,oui,Valeur absolue,0.0,A17-GZ - Commerce ; réparation d'automobiles e...,Emploi salarié en fin de trimestre,individus,Trimestrielle
2,001737246,30/03/2018 12:00,Corrigé des variations saisonnières,03 - Allier,oui,Valeur absolue,0.0,A17-GZ - Commerce ; réparation d'automobiles e...,Emploi salarié en fin de trimestre,individus,Trimestrielle
3,001737247,30/03/2018 12:00,Corrigé des variations saisonnières,04 - Alpes-de-Haute-Provence,oui,Valeur absolue,0.0,A17-GZ - Commerce ; réparation d'automobiles e...,Emploi salarié en fin de trimestre,individus,Trimestrielle
4,001737248,30/03/2018 12:00,Corrigé des variations saisonnières,05 - Hautes-Alpes,oui,Valeur absolue,0.0,A17-GZ - Commerce ; réparation d'automobiles e...,Emploi salarié en fin de trimestre,individus,Trimestrielle
...,...,...,...,...,...,...,...,...,...,...,...
1480,R,Révision,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1481,A,Valeur normale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1482,N,Valeur non significative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1483,O,Valeur manquante,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1484,U,Valeur atypique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1485 entries, 0 to 1484
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   idBank                1483 non-null   object
 1   Dernière mise à jour  1482 non-null   object
 2   Correction            1472 non-null   object
 3   Zone géographique     1472 non-null   object
 4   Série arrêtée         1472 non-null   object
 5   Nature                1472 non-null   object
 6   Puissance             1472 non-null   float64
 7   Activité              1472 non-null   object
 8   Indicateur            1472 non-null   object
 9   Unité                 1472 non-null   object
 10  Périodicité           1472 non-null   object
dtypes: float64(1), object(10)
memory usage: 127.7+ KB

In [27]:
df_dropna = df.dropna()
df_dropna

,idBank,Zone géographique,Série arrêtée,Activité,Indicateur
0,001737244,01 - Ain,oui,A17-GZ - Commerce ; réparation d'automobiles e...,Emploi salarié en fin de trimestre
1,001737245,02 - Aisne,oui,A17-GZ - Commerce ; réparation d'automobiles e...,Emploi salarié en fin de trimestre
2,001737246,03 - Allier,oui,A17-GZ - Commerce ; réparation d'automobiles e...,Emploi salarié en fin de trimestre
3,001737247,04 - Alpes-de-Haute-Provence,oui,A17-GZ - Commerce ; réparation d'automobiles e...,Emploi salarié en fin de trimestre
4,001737248,05 - Hautes-Alpes,oui,A17-GZ - Commerce ; réparation d'automobiles e...,Emploi salarié en fin de trimestre
...,...,...,...,...,...
1467,010568041,974 - La Réunion,non,"Ensemble des salariés, public - Toutes les sec...",Emploi salarié en fin de trimestre
1468,010568020,971 - Guadeloupe,non,"Ensemble des salariés, privé - Toutes les sect...",Emploi salarié en fin de trimestre
1469,010568021,972 - Martinique,non,"Ensemble des salariés, privé - Toutes les sect...",Emploi salarié en fin de trimestre
1470,010568022,973 - Guyane,non,"Ensemble des salariés, privé - Toutes les sect...",Emploi salarié en fin de trimestre
1471,010568023,974 - La Réunion,non,"Ensemble des salariés, privé - Toutes les sect...",Emploi salarié en fin de trimestre

In [28]:
df_dropna.to_csv('/Users/nelson/Desktop/BI_streamlit/data/normDataset/caracteristique.csv', index=False)

In [33]:
df_new = pd.read_csv('/Users/nelson/Desktop/BI_streamlit/data/normDataset/caracteristique.csv', delimiter=',')
df_new

,idBank,Zone géographique,Série arrêtée,Activité,Indicateur
0,1737244,01 - Ain,oui,A17-GZ - Commerce ; réparation d'automobiles e...,Emploi salarié en fin de trimestre
1,1737245,02 - Aisne,oui,A17-GZ - Commerce ; réparation d'automobiles e...,Emploi salarié en fin de trimestre
2,1737246,03 - Allier,oui,A17-GZ - Commerce ; réparation d'automobiles e...,Emploi salarié en fin de trimestre
3,1737247,04 - Alpes-de-Haute-Provence,oui,A17-GZ - Commerce ; réparation d'automobiles e...,Emploi salarié en fin de trimestre
4,1737248,05 - Hautes-Alpes,oui,A17-GZ - Commerce ; réparation d'automobiles e...,Emploi salarié en fin de trimestre
...,...,...,...,...,...
1467,10568041,974 - La Réunion,non,"Ensemble des salariés, public - Toutes les sec...",Emploi salarié en fin de trimestre
1468,10568020,971 - Guadeloupe,non,"Ensemble des salariés, privé - Toutes les sect...",Emploi salarié en fin de trimestre
1469,10568021,972 - Martinique,non,"Ensemble des salariés, privé - Toutes les sect...",Emploi salarié en fin de trimestre
1470,10568022,973 - Guyane,non,"Ensemble des salariés, privé - Toutes les sect...",Emploi salarié en fin de trimestre
1471,10568023,974 - La Réunion,non,"Ensemble des salariés, privé - Toutes les sect...",Emploi salarié en fin de trimestre